*{
  font-family: Arial,"微軟正黑體";
}
h3{
  margin: 10px;
  margin-bottom: 20px;
}
.loginBox{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  padding: 30px;
  color: #fff;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #c3cfe4;
}
.loginBox div{
  margin-bottom: 20px;
}
label{
  margin-right: 10px;
}
input{
  height: 30px;
  padding: 0 5px;
  border: 0 solid #000;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
input[type=submit],
input[type=reset]{
  position: relative;
  color: #a6c1ee;
  background-color: #fff;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 1.05rem;
  font-weight: bold;
  border: 0 solid #000;
  border-radius: 5px;
  /* box-shadow: 3px 3px 0px #7d9cd1; */
  /* transition-duration: 1s; */
}
input[type=submit]:hover,
input[type=reset]:hover{
  color: #fff;
  background-color: #7d9cd1;
  box-shadow: 0 0 0 #7d9cd1;
}
.tip{
  margin: 0;
  color: red;
}